!!! strict
html(xmlns='http://www.w3.org/1999/xhtml', xml:lang='en', lang='en')
head
    link(href='/stylesheets/reset.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
    title Adrian Statescu: the official website
  body
    h1 Adrian Statescu
    p
      | twitter @
      a(href='http://twitter.com/thinkphp') thinkphp
    p
      | website 
      a(href='http://thinkphp.ro') http://thinkphp.ro
    p
      | blog 
      a(href='http://thinkphp.ro/blog') http://thinkphp.ro/blog
    p
      | projects 
      a(href='http://github.com/thinkphp') http://github.com/thinkphp
    p
      | MooTools 
      a(href='http://mootools.net/forge/profile/thinkphp') http://mootools.net/forge/profile/thinkphp
    p
      | jQuery 
      a(href='http://plugins.jquery.com/lastfm/') http://plugins.jquery.com/lastfm/
    p
      | Google App Engine 
      a(href='http://cubasearch.appspot.com/') 1
      &nbsp;
      a(href='http://graphjs.appspot.com/') 2
      &nbsp;
      a(href='http://mylastfm2.appspot.com/') 3
      &nbsp;
      a(href='http://xbubblesort.appspot.com/') 4
      &nbsp;
      a(href='http://zgithubbadge.appspot.com/') 5
      &nbsp;
      a(href='http://zlastfm.appspot.com/') 6
      &nbsp;
      a(href='http://ztwitterbadge.appspot.com/') 7
      &nbsp;
      a(href='http://goobingpy.appspot.com/') 8
      |&nbsp;RubyGems 
      a(href='https://rubygems.org/profiles/thinkphp') thinkphp
    p
      | Heroku 
      a(href='http://express-basic.herokuapp.com/') 1
      &nbsp;
      a(href='http://sinatra-basic.herokuapp.com/') 2
      &nbsp;
      a(href='http://adrianstatescu.herokuapp.com/') 3
      &nbsp;
      a(href='http://express-bing.herokuapp.com/') 4
      &nbsp;
      a(href='http://sinatra-bing.herokuapp.com/') 5
      &nbsp;
      a(href='http://sinatra-goobing.herokuapp.com/') 6
      &nbsp;
      a(href='http://express-goobing.herokuapp.com/') 7
      &nbsp;
      a(href='http://thinkphp.herokuapp.com/') 8      
      |&nbsp;NPM ~
      a(href='https://npmjs.org/~thinkphp') thinkphp
    p
      a(href='mailto:adrian@thinkphp.ro') adrian@thinkphp.ro