<div class="post-preview">
    <a href="/post">
      <h2 class="post-title">
          Family over everything.
      </h2>
      <h3 class="post-subtitle">
          Of all the things we see from iphones,ipads, to the latest technology out there family still first.
      </h3>
    </a>
    <p class="post-meta">Posted by <a href="/about">Kirby</a> on January 7, 2017</p>

    <%= render 'layouts/favicons' %>

</div>
