<div class="post-preview">
    <a href="/post">
        <h2 class="post-title">
          Will stop updating the blog for a while to focus on learning/school related.
        </h2>
        <h3 class="post-subtitle">
            Will currently stop updating the page....
        </h3>
    </a>
    <p class="post-meta">Posted by <a href="/about">Kirby</a> on January 16, 2017 - present</p>

    <%= render 'layouts/favicons' %>

</div>
