<div class="post-preview">
    <a href="/post">
        <h2 class="post-title">
            Did my first simple React app , and did read through gem ...
        </h2>
        <h3 class="post-subtitle">
            Finally my sleeping routine went back from sleeping around 4am to 9pm and woke up early...
        </h3>
    </a>
    <p class="post-meta">Posted by <a href="/about">Kirby</a> on January 14, 2017</p>

    <%= render 'layouts/favicons' %>

</div>
