<div class="post-preview">
    <a href="/post">
        <h2 class="post-title">
            Woke up today at 4AM , today's learning goals would be basics of c and c++ ...
        </h2>
        <h3 class="post-subtitle">
            Schedule would be half in the morning would be c and c++ for preparation for school in the upcoming spring semester.Yep I am going to school again...
        </h3>
    </a>
    <p class="post-meta">Posted by <a href="/about">Kirby</a> on January 10, 2017</p>

    <%= render 'layouts/favicons' %>

</div>
