<div class="post-preview">
    <a href="/post">
      <h2 class="post-title">
          This day is really slow just eat and code and eat and code and watch podcast /sob. /smile.
      </h2>
      <h3 class="post-subtitle">
          Learning goal for this day is to to really learn deeply on applying test and integrate javascript on a rails application.But I still have a long way...
      </h3>
    </a>
    <p class="post-meta">Posted by <a href="/about">Kirby</a> on January 8, 2017</p>

    <%= render 'layouts/favicons' %>

</div>
