<div class="post-preview">
    <a href="/post">
        <h2 class="post-title">
            Started my day by reading some blog post,documentations on AWS Amazon, and good vibes ...
        </h2>
        <h3 class="post-subtitle">
            Today will focus on javascript , and I learned how to deploy a rails app using AWS Elasticbeanstalk API...
        </h3>
    </a>
    <p class="post-meta">Posted by <a href="/about">Kirby</a> on January 11, 2017</p>

    <%= render 'layouts/favicons' %>

</div>
