<div class="post-preview">
    <a href="/post">
        <h2 class="post-title">
            Pursuing the cs50 harvard certification ...
        </h2>
        <h3 class="post-subtitle">
            I consider the day as a bit of rest day slight programming , will continue to study further tomorrow...
        </h3>
    </a>
    <p class="post-meta">Posted by <a href="/about">Kirby</a> on January 15, 2017</p>

    <%= render 'layouts/favicons' %>

</div>
