<div class="post-preview">
    <a href="/post">
      <h2 class="post-title">
        Fundamentals , concepts , theories , understanding OOP . Study then study then study , eat , then sleep :).
      </h2>
      <h3 class="post-subtitle">
        Another day of learning , learning ruby the hardway , how to integrate loading page , trying to understand alot of errors and what they really meant
        ....
      </h3>
    </a>
    <p class="post-meta">Posted by <a href="/about">Kirby</a> on January 9, 2017</p>

    <%= render 'layouts/favicons' %>

</div>
