<!-- Page Header -->
<header class="intro-header" style="background-image: url('assets/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">

                      <%= image_tag("kirbylogo.png", alt: "KBOY")  %>
                      <hr class="small">
                      <span class="subheading">Contact Me</span>

                </div>
            </div>
        </div>
    </div>
</header>
