<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <h2 class="post-title">
                  Slow day today , havent tackled too much today aside from the webinar from Accenture.
              </h2>
              <%= render 'layouts/favicons' %>
              <p>January 12,2017</p>
              <p class="post-subtitle">
                  I slept at 5am this morning , I just couldn't sleep yesterday decided to just waste my time browsing
                  on the internet.I woke up around 11:30AM , warmed up by going through slack groups what's new and what's happening.
                  At around 2:30'ish finally joined the Accenture Webinar got accepted for pre-screening process(meaning not yet accepted).
                  So yeah will see how that goes but I will not assume I will pass just trying my best to get accepted.Was suppose to go to
                  LA Ruby meetup ,unfortunately out of nowhere I had to do something maybe next time :)).
                  <%= image_tag("january12.png", alt: "KBOY") %>
              </p>
            </div>
        </div>
    </div>
</article>
