<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <h2 class="post-title">
                  Started my day by reading some blog post,documentations on AWS Amazon, and good vibes ...
              </h2>
              <%= render 'layouts/favicons' %>
              <p>January 11,2017</p>
              <p class="post-subtitle">
                  Today will focus on javascript , and I learned how to deploy a rails app using AWS Elasticbeanstalk API.Then for the rest of the day
                  will still be javasript and a exercises on "ruby the hard way" and c++ basics.Tomorrow is gonna be a good day excited for the LA ruby meetup.Arrived 7:01pm at CoWork southbay today for the IONIC training by <a href="https://github.com/Rockncoder">Troy Miles</a>.
                  <%= image_tag("january11.png", alt: "KBOY") %>
              </p>
            </div>
        </div>
    </div>
</article>
