<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <h2 class="post-title">
                  Today I just read "Javascript the Good Parts", Javascript fundamentals on udemy.com.
              </h2>
              <%= render 'layouts/favicons' %>
              <p>January 13,2017</p>
              <p class="post-subtitle">
                  Finally my sleeping routine went back from sleeping around 4am to 9pm and woke up early.I read the "Javascript the Good Parts",
                  Watched udemy javascript fundamentals, did couple exercises.Did couple of docker tutorials.Then tried to do a game built on ruby ,which is introduced by a friend of mine.
                  Didnt know a gem called 'gosu' when he told me its a gem to build games in ruby.Check <a href="https://github.com/gosu/gosu/wiki/Getting-Started-on-Linux">Gosu</a> on github.
                  <p>Installing <code>Gosu</code> on linux:</p>
                  <pre><code>  # Gosu's dependencies for both C++ and Ruby
  sudo apt-get install build-essential libsdl2-dev libsdl2-ttf-dev libpango1.0-dev \
    libgl1-mesa-dev libopenal-dev libsndfile-dev
  # To install Ruby - if you are using rvm or rbenv, please skip this step
    sudo apt-get install ruby-dev
  # If you are using a Ruby version manager (i.e. : rvm or rbenv)
    gem install gosu
  # otherwise, you can add "sudo" at the beginning of the command
    sudo gem install gosu
                  </code></pre>
              </p>
            </div>
        </div>
    </div>
</article>
