<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <h2 class="post-title">
                    Woke up today at 4AM , today's learning goals would be basics of c and c++.And then the rest of the day would be full javascript and
                    coding exercises.
              </h2>
              <%= render 'layouts/favicons' %>
              <p>January 10,2017</p>
              <p class="post-subtitle">
                  Schedule would be half in the morning in c and c++ for preparation for school in the upcoming spring semester.Yep I am going to school again
                  in Computer Science<em>(I am not smart btw)</em>.Will continue the day on the exercises , "ruby the hard way" and exercism.Then just browse through different resources to enhance knowledge related to "Internet of things/IoT"
                  and so on.Check out the best reference for c++ <a href="http://www.cplusplus.com/">👉 here 👈</a>.This time I will be using much more on VS code, since I am not familiar with this editor,more comfortable with atom even atom
                  boots up really slow.
                  <%= image_tag("january10.png", alt: "KBOY") %>
              </p>
            </div>
        </div>
    </div>
</article>
