<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <h2 class="post-title">
                  Fundamentals , concepts , theories , understanding OOP . Study then study then study , eat , then sleep :).
              </h2>
              <%= render 'layouts/favicons' %>
              <p>January 9,2017</p>
              <p class="post-subtitle">
                  Another day of learning , learning ruby the hardway , how to integrate loading page , trying to understand alot of errors and what they really meant.
                  I will just focus today on learning the fundamentals of ruby, do exercises on learnrubythehardway , exercism , lots of exercism and coding challenges
                  all about ruby.Then later on today will try to learn further understanding on docker , and javascript as well.
                  <%= image_tag("january9.png", alt: "KBOY") %>
              </p>
            </div>
        </div>
    </div>
</article>
