<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <h2 class="post-title">
                  Family over everything.
              </h2>
              <%= render 'layouts/favicons' %>
              <p>January 7,2017</p>
              <p class="post-subtitle">
                  Of all the things we see from iphones,ipads, to the latest technology out there family still comes first.
                  You cannnot replace all of them with technology and money.
              </p>
            </div>
        </div>
    </div>
</article>
