<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <h2 class="post-title">
                  Will stop updating the blog for a while to focus on learning/school related.
              </h2>
              <%= render 'layouts/favicons' %>
              <p>January 16,2017 - present</p>
              <p class="post-subtitle">
                I will be posting updates as soon as possible , maybe will try to remodel my page into something more minimalistic,
                probably using jekyll.But for now I will be focusing on c++,java, and node.js .But ruby will always be my first 💜.
              </p>
            </div>
        </div>
    </div>
</article>
